.button {
  padding: 10px 30px;
  margin: 30px 10px;
  font-size: 18px;
  border: 1px solid #bababa;
  background: #fff;
  width: 8rem;
  height: 5rem;
  border-radius: 0.5rem;
}

.activeButton {
  color: lightgray;
}
